.indicator.comparison{
  margin: 15px 40px;
}
.indicator.comparison>.comparison-container{
  height: 100px;
  display: flex;
}
.indicator.comparison>.title{
  font-size: 2em;
  margin-left: 50px;
}

.indicator.comparison>.values-container{
  display: flex;
  justify-content: flex-end;
  font-size: 3em;
  margin-right: 3%;
}
.indicator.comparison>.values-container>.seperator{
  margin: 5px;
}
.indicator.comparison .highBar{
  display: flex;
}
.indicator.comparison .highBar .arrow-head{
  border-top:50px solid transparent;
  border-bottom:50px solid transparent;
  border-right: 50px solid transparent;
}
.indicator.comparison .highBar .arrow-body{
  width: 100%;
}

.indicator.comparison .lowBar{
  display: flex;
}
.indicator.comparison .lowBar .arrow-head{
  border-top:50px solid transparent;
  border-bottom:50px solid transparent;
  border-left: 50px solid transparent;
}
.indicator.comparison .lowBar .arrow-body{
  width: 100%;
}
