.indicator.gauge>.title{
  font-size: 2em;
  padding-right: 10px;
  display: table;
  margin: 5px auto;
}
.indicator.gauge>.counter{
  font-size: 1.5em;
  text-align: center;
  font-family: ubuntu-light;
  margin: 5px auto;
}
.indicator.gauge>svg{
  margin: 5px auto;
}
.indicator.gauge .desc-container{
  margin: 5px auto;
  font-family: ubuntu-light;
}
.indicator.gauge .desc-container>*{
  display: inline-block;
}
.indicator.gauge .desc-container>.seperator{
  margin-left: 5px;
  margin-right: 5px;
}
