.indicator.pictogram>.title{
  font-size: 2em;
  padding-right: 10px;
  display: table;
  margin: 0 auto;
}
.indicator.pictogram>.seperator:nth-child(2){
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}
.indicator.pictogram>.desc-container{
  display: flex;
  margin: 0 auto;
}
.indicator.pictogram>.desc-container>.seperator{
  margin-left: 5px;
  margin-right: 5px;
}
.indicator.pictogram>.counter{
  font-size: 1.5em;
}
